<h1 class="text-center mb-2" id='page-top'>「<%= @movie.title %>」のレビュー投稿</h1>
<p class="text-center mb-5">内容は300字以内で投稿してください。</p>

<%= render 'layouts/error_messages', model: @post %>

<%= render 'posts/new', posts: @post, movie: @movie %>