<h1 class="text-center mb-3">高評価ランキングTOP20</h1>
<p class="text-center">
  ここでは、アニメ作品、映画作品両方を含めて評価が高い作品をTOP20まで紹介します。<br>
  皆が評価する作品はどの作品か、是非チェックしてみてください。
</p>

<% ranking_id = 1 %>

<table class="table font-weight-bold text-center table-bordered table-striped">
  <thead class="bg-light">
    <tr>
      <th>順位</th>
      <th>カテゴリ</th>
      <th>タイトル</th>
      <th>評価</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <% if ranking_id == 1 || ranking_id == 2 || ranking_id == 3 %>
            <span class="text-danger"><%= ranking_id %>位</span>
          <% else %>
            <span><%= ranking_id %>位</span>
          <% end %>
        </td>
        <td>
          <%if movie.category == 0 %>
            アニメ
          <% else %>
            映画
          <% end %>
        </td>
        <td><%= link_to movie.title, movie_path(movie) %></td>
        <td><%= movie.evaluation %></td>
        <% ranking_id = ranking_id + 1 %>
      </tr>
    <% end %>
  </tbody>
</table>