<h1  class="p-3 mb-2 bg-light text-dark" id="page-top">はじめに</h1>
<p>はじめにこのサイトをつくろうと思ったきっかけについて記しておきたいと思います。長いので飛ばしたい方は下記、または右上のリンクからログインしてください。</p>
<p>私がこのサイトをつくろうと思ったきっかけは、自分でなにかしら形のあるものを作ってみたかったからです。
    私は学生ですが、大学で講義を聞いていたり、課題をこなしたりしていても、自分が本当に理解できているのかいつも疑問に思っていました。
    
<p>いくら知識をつけたとしても、それを生かす場がなければそれは宝の持ち腐れになってしまいます。課題などでは、それを提出した瞬間、そこで学習はストップしてしまい、時間がたつと
    忘れてしまっていたりもします。また、知識だけではどうしようもなく、実践でこそ得られるものの存在は大きいと思います。
    特にプログラミングなどはどれだけ説明されても、自分の手で動かしてみなければきちんと理解できないし、逆にそれをすることで気づかなかった新たな発見や、理解に繋がると思っています。
</p>
    
<p>新しいことを始めようと思い立った際に、誰でもまずはネットなどを通して情報を集めて、手探りながらに少しずつ学習を進めると思います。しかし、ある程度進めていくと、自分一人
    では解決できないことや理解できないことが必ず出てきます。そんなとき、皆さんならどうするでしょうか。諦める人もいれば、根気強く頑張る人、友人に相談する人等、選択肢
    はたくさんあると思います。
</p>

<p>私は、<a href="https://techacademy.jp/" target="_blank" rel="noopener noreferrer">TechAcademy</a>を利用しました。8週間という短い期間ながら、貴重な経験を積むことができたと思っています。知識0から始めたWebアプリケーション
    学習ですが、カリキュラムに沿って進めていくことで、少しずつ理解できるようになりました。分からないことがあった際に、プロのメンターの方に聞くことができたのも大きかったです。どんな
    質問に対しても、必ず応答が返ってくるので安心して学習を進めることができました。
</p>

<p>長くなりましたが、以上ではじめのあいさつは終了です。まずは、ログインしてこのサービスを利用してみてください。</p>


<h2 class="text-center"><%= link_to 'ログインする', login_path %></h2>
    