<h1  class="p-3 mb-2 bg-light text-dark" id="page-top">はじめに</h1>
<p>このサイトをつくろうと思ったきっかけは、自分でなにかしら形のあるものを作ってみたかったからです。
    なにか新しいことを学ぶのなら、学ぶだけでなく、それをいかしたものをつくろうと思ったのがきっかけでした。
</p>
    
<p class="mb-5">学習には<a href="https://techacademy.jp/" target="_blank" rel="noopener noreferrer">TechAcademy</a>のWebアプリケーションコースを利用しました。8週間という短い期間ながら、貴重な経験を積むことができたと思っています。知識0から始めたWebアプリケーション
    学習ですが、カリキュラムに沿って進めていくことで、少しずつ理解できるようになりました。分からないことがあった際に、プロのメンターの方に聞くことができたのも大きかったです。どんな
    質問に対しても、必ず応答が返ってくるので安心して学習を進めることができました。
</p>

<h1  class="p-3 mb-2 bg-light text-dark" id="page-top">サイトの使い方</h1> 
<p>このサイトにある機能は、以下の通りになります。
<ul>
    <li>ログイン、ログアウト機能</li>
    <li>作品検索機能(頭文字から)</li>
    <li>お気に入り作品登録機能</li>
    <li>作品評価(ユーザ評価の平均値算出)</li>
    <li>評価ランキング(高評価されている作品をランキング形式で表示します)
    <li>レビュー投稿機能（ログインユーザはレビューを投稿できます）</li>
    <li>トップページに戻る(トップページに移動します)</li>
</ul>

<p>まずは、ログインしてこのサービスを利用してみてください。</p>


<h2 class="text-center"><%= link_to 'ログインする', login_path %></h2>
    