<% if logged_in? %>
    <h1>・このサイトについて</h1>
    <div>
        <p>ようこそ、アプリケーション名へ。このサイトは、Webアプリケーション学習の集大成として作ったアニメ、映画作品のレビューサイトです。
            レビューや、作品の詳細を見たいときは、下記から、作品の頭文字をクリックして、お好きな作品を探してください。
            お気に入り作品の閲覧、ログアウトは右上のメニューバーからどうぞ。
        </p>
    </div>
<% else %>
    <p>ログインしてください</p>
<% end %>