<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with(model: posts, local: true) do |f| %>
      <%= hidden_field_tag :movie_id, movie.id %>
      <div class="form-group">
        <label for="evaluation">評価</label>
        <select class="form-control" id="evaluation", name='post[evaluation]'>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      
      <div class="form-group">
        <label>内容</label>
        <%= f.text_area :content, class: 'form-control'%>
      </div>
      
      <%= f.submit '投稿する', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>